html 
  font-size: 16px
  box-sizing: border-box
  font-family: 'Roboto', 'sans-serif'

  @media only screen and (max-width: 650px)
    font-size: 14px

*, *:before, *:after
  padding: 0
  margin: 0
  box-sizing: inherit

.container 
  width: 80%
  max-width: 1100px
  margin: 0 auto
