// Colors

$dim-grey=#393535
$orange=#ffb100
$dark-green=#00693e
$blue=#cbeaeb
$grey=#f9f9f9
$silver=#eee
$maroon=#800000

$primary=$dim-grey
$secondary=$orange
$success=$dark-green
$page-bg=$grey

// 